<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Dashboard Page</title>
    <style>
        #all {
            background-color: green;
            color: white;
            padding: 20px;
        }
    </style>
</head>

<body id="all">

    <h1>Welcome to Emp Dashboard Page</h1>

    <h2><b>Name:</b>
        <span th:text="${emp.name}"></span>
    </h2>

    <h2><b>Email:</b>
        <span th:text="${emp.email}"></span>
    </h2>

    <!-- Example extra field -->
    <h2><b>ID:</b>
        <span th:text="${emp.id}"></span>
    </h2>

    <br>
    <a th:href="@{/logout}">Logout</a>

</body>
</html>