<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login Page</title>
</head>

<body>

    <h1>Emp Login Page</h1>

    <form th:action="@{/login}" method="post">
        <label>Email:</label>
        <input type="email" name="email" required />
        <br><br>

        <label>Password:</label>
        <input type="password" name="password" required />
        <br><br>

        <button type="submit">Login</button>
    </form>

    <a th:href="@{/register}">New Emp? Register Here</a>

</body>

</html>